#Ignoring transformation file because it's too heavy
transformation/csv_exports_ignored/
scrapping/exports/
transformation/exports/archives/all_posts_candidats_1653553509.csv
transformation/exports/archives/comments_group_by_post.csv
transformation/exports/archives/rolling_sum__1653553509.csv
transformation/exports/france/france_merged.csv
transformation/exports/france/france_merged.parquet
transformation/exports/france/france_posts_merged.csv
transformation/exports/france/france_comments_merged.csv
transformation/exports/france/france_comments_merged.parquet
transformation/exports/france/france_posts_merged.parquet
